body {
    font-size: 1rem;
	line-height: 1.4;
    font-weight: 400;
    background: #f1f1f1;
    padding: 16px;
  
    @media screen and (min-width: 1068px) {
		padding: 32px;
		font-size: 1.25rem;
    }
}
  
main {
    display: flex;
    flex-direction: column;
    gap: 24px;
  
    @media screen and (min-width: 1068px) {
    	gap: 64px;
    }
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
	line-height: 1.1;
}
  
h1 {
    font-size: 2em;

	@media screen and (min-width: 1068px) {
    	font-size: 6em;
    }
}

h2 {
    font-size: 1.6em;

	@media screen and (min-width: 1068px) {
    	font-size: 4rem;
    }
}

h3 {
    font-size: 1.4em;

	@media screen and (min-width: 1068px) {
    	font-size: 3.2rem;
    }
}


